{% extends 'base.html.twig' %}

{% block title %}Gestion services | DevByAntho{% endblock %}

{% block body %}
<section class="text-center">
    <h1>Gestion des services</h1>
    {% if message is defined %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}
    {% if error is defined %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <h2>Ajouter un service</h2>
            {{ form_start(form) }}
            {{ form_row(form.Nom) }}
            {{ form_row(form.description) }}
            {{ form_row(form.imageFile) }}
            {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h2>Liste des services</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Status d'affichage</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}
                        <tr>
                            <td>{{ service.Nom }}</td>
                            <td>{{ service.description }}</td>
                            <td><img src="{{ asset('assets/servicesImg/' ~ service.imageName) }}" alt="Image du service" style="width: 100px;"></td>
                            <td>{% if service.affichage == 1 %}Affiché{% else %}Non affiché{% endif %}</td>
                            <td><a href="{{ path('service_status', {'id': service.id}) }}">Changer status</a></td>
                            <td><a href="{{ path('service_edit', {'id': service.id}) }}">Modifier</a></td>
                            <td><a href="{{ path('service_delete', {'id': service.id}) }}">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
