<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/png/fav_devbyantho_sf.png') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrapLux.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/styles_gene.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/styles_carou.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/styles_home.css') }}">
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        <script src="https://kit.fontawesome.com/baada5d1a0.js" crossorigin="anonymous"></script>
    </body>
</html>
