<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/png/HD_LOGO-DEV-BY-ANTHO_FAVICON.png') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrapLux.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/styles_gene.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/styles_carou.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/styles_home.css') }}">
    </head>
    <body>
        {% block header %}
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        <script src="https://kit.fontawesome.com/baada5d1a0.js" crossorigin="anonymous"></script>
        <script src="{{ asset('assets/js/scrollPosition.js') }}"></script>
    </body>
</html>
