{% extends 'base.html.twig' %}

{% block title %}Contact | DevByAntho{% endblock %}

{% block body %}
  {% include "partials/_nav.html.twig" %}
  <section class="container-fluid py-5" id="contact">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading text-uppercase mt-5">Contact</h2> <!-- Ajout de la classe mt-4 pour l'espace au-dessus -->
        <h3 class="section-subheading text-muted">N'hésitez pas à nous contacter.</h3>
        <hr class="divider my-4">
      </div>
      {% for message in app.flashes('success') %}
        <div class="alert alert-success w-50 mx-auto my-4 text-center" id="flash-message">
          {{ message }}
        </div>
      {% endfor %}
    </div>
    {{ form_start(form, {'attr': {'class': 'row g-3 w-75 mx-auto'}}) }}

      {# Nom et Prénom #}
      <div class="col-md-6 mt-3">
        {{ form_row(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Votre nom'}}) }}
      </div>
      <div class="col-md-6 mt-3">
        {{ form_row(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Votre prénom'}}) }}
      </div>

      {# Email et Téléphone #}
      <div class="col-md-6 mt-3">
        {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Votre email'}}) }}
      </div>
      <div class="col-md-6 mt-3">
        {{ form_row(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Votre téléphone'}}) }}
      </div>

      {# Message #}
      <div class="col-12 mt-3">
        {{ form_row(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Votre message', 'rows': 6}}) }}
      </div>

      {# Bouton Envoyer #}
      <div class="col-12 mt-3 mx-auto">
        {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
      </div>

    {{ form_end(form) }}
  </section>
  <script>
    // Fonction pour cacher le message flash après 10 secondes
    setTimeout(function() {
      var flashMessage = document.getElementById('flash-message');
      if (flashMessage) {
        flashMessage.style.display = 'none';
      }
    }, 10000); // 10 secondes en millisecondes
  </script>
  {% include "partials/_footer.html.twig" %}
{% endblock %} 